@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    fill: white;
    animation: blink 1.5s infinite;
  }
  
  /* styles.css */
.scroll-down-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  fill: white;
}

/* src/components/landingpage/MediaCarousel.css */
.neon-border {
  position: relative;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    box-shadow: 0 0 5px #00e6e6, 0 0 10px #00e6e6, 0 0 15px #00e6e6, 0 0 20px #00e6e6;
  }
  to {
    box-shadow: 0 0 10px #00b3b3, 0 0 15px #00b3b3, 0 0 20px #00b3b3, 0 0 25px #00b3b3;
  }
}


