/* src/components/landingpage/Homepage.css */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Pastikan video berada di belakang elemen lain */
  }
  
  /* body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
  } */
   